{#
 # -------------------------------------------------------------------------
 # DatabaseInventory plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of DatabaseInventory.
 #
 # DatabaseInventory is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # DatabaseInventory is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with DatabaseInventory. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2021-2023 by Teclib'.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://services.glpi-network.com
 # -------------------------------------------------------------------------
 #}

{% import "components/form/fields_macros.html.twig" as fields %}

{% block more_fields %}
    {% if canread %}
        {% if contactlogs is not empty %}
            {% set tableheader %}
                <tr>
                    <th>{{ __('Credentials') }}</th>
                    {% if itemtype == 'Agent' %}
                        <th>{{ __('DatabaseParam') }}</th>
                    {% else %}
                        <th>{{ __('Agents') }}</th>
                    {% endif %}
                    <th>{{ __('Date') }}</th>
                </tr>
            {% endset %}
            <table class='tab_cadre_fixehov'>
                {{ tableheader }}
                {% for contactlog in contactlogs %}
                    <tr>
                        <td><a href = {{contactlog['linkcred']}}> {{ contactlog['credname'] }}</a></td>
                        {% if itemtype == 'Agent' %}
                            <td><a href = {{contactlog['linkdbparam']}}> {{ contactlog['dbparamname'] }}</a></td>
                        {% else %}
                            <td><a href = {{contactlog['linkagent']}}> {{ contactlog['agentname'] }}</a></td>
                        {% endif %}
                        <td>{{ contactlog['date_creation'] }}</td>
                    </tr>
                {% endfor %}
                {{ tableheader }}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}