{% import "components/form/fields_macros.html.twig" as fields %}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
{% import 'components/form/modals_macros.html.twig' as modals %}
>>>>>>> 8b6e389 (add massive action for credential and computer group)
{% set rand = random() %}

{% block more_fields %}
    {% if canadd %}
        <form method='POST' enctype='multipart/form-data' action=''>
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
            <div class="d-flex">
                {{ fields.dropdownField(
                    credentialclass,
                    'plugin_databaseinventory_credentials_id',
                    '',
                    __('Add'),
                    {
                        'used': used,
                    }
                ) }}

                {% set btn_add %}
                    <button class="btn btn-primary" type="submit" name="add_credential" value="1">
                        <i class="fas fa-plus"></i>
                        <span>{{ _x('button', 'Add') }}</span>
                    </button>
                {% endset %}

                {{ fields.htmlField(
                    '',
                    btn_add,
                    ''
                ) }}

                {{ fields.hiddenField(
                    'plugin_databaseinventory_databaseparams_id',
                    item.getID(),
                )}}
            </div>
        </form>
    {% endif %}
    {% if canread %}
        {% if credentiallist is not empty %}
            <form name="massaction_{{ rand }}" id="massaction_{{ rand }}" method="post"
            action="{{ path('/front/massiveaction.php') }}" data-submit-once>
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="action" value="purge">
            <input type="hidden" name="action_name" value="purge">
            <input type="hidden" name="processor" value="MassiveAction">
                {% set table_id = 'package_subitem_' ~ rand %}
                <table class="search-results table table-hover table-card" id="{{ table_id }}">
                    <thead>
                        <tr>
                            {% if canedit %}
                                <th style="width: 32px;">
                                    <input class="form-check-input" type="checkbox" id="checkall_{{ rand }}"
                                        value="" title="{{ __('Check all as') }}"
                                        data-bs-toggle="tooltip"
                                        onclick="checkAsCheckboxes('checkall_{{ rand }}', '{{ table_id }}');" />
                                </th>
                            {% endif %}
                            <th>{{ __('Name') }}</th>
                            <th>{{ __('Login') }}</th>
                            <th>{{ __('Port') }}</th>
                            <th>{{ __('Socket') }}</th>
                            <th>{{ __('Type') }}</th>
                        </tr>
                    </thead>
                    {% for credential in credentiallist %}
                            {% if canedit %}
                                <td>
                                    {% set checked = session('glpimassiveactionselected')[credentialtypeclass][credential['iddbparamcredential']] ?? false %}
                                    <input type="checkbox" class="form-check-input"
                                        name="items[{{ credentialtypeclass }}][{{ credential['iddbparamcredential'] }}]"
                                        data-glpicore-ma-tags="common"
                                        value="{{ credential['iddbparamcredential'] }}"
                                        {% if checked %}checked="checked"{% endif %}>
                                 </td>
                            {% endif %}
                            <td><a href = {{credential['link']}}> {{ credential['name'] }}</a></td>
                            <td>{{ credential['login'] }}</td>
                            <td>{{ credential['port'] }}</td>
                            <td>{{ credential['socket'] }}</td>
                            <td>{{ credential['type'] }}</td>
                        </tr>
                    {% endfor %}
                    <button class="btn btn-sm btn-ghost-secondary my-1 ms-1" type="submit" value="massiveaction">
                        <i class="ti ti-corner-left-down mt-1"></i>
                        <span>{{ __("Remove") }}</span>
                    </button>
                </table>
            </form>
        {% endif %}
=======
=======

>>>>>>> 9d21e24 (twig for database_param_credentials)
{% block more_fields %}
    <form action="" method="post" class="../front/databaseparam.form.php">
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
        {{ fields.dropdownField(
            credentialclass,
            'plugin_databaseinventory_credentials_id',
            '',
            __('Add'),
            {
                'used': used,
            }
        ) }}

        {{ fields.hiddenField(
            'plugin_databaseinventory_databaseparams_id',
            item.getID(),
        )}}

        {% set buttoncheck %}
            <button class="btn btn-outline-green me-2" type="submit" name="add_credential" value="1">
                <span>{{ _x('button', 'Add') }}</span>
            </button>
        {% endset %}
        {{ fields.htmlField(
            '',
            buttoncheck,
            ''
        ) }}
    </form>
    {% if canread %}
        {% if credentiallist is not empty %}
<<<<<<< HEAD
            {% set tableheader %}
                <tr>
                    {% if canedit %}
                        <th style="width: 10px;">
                            Checkbox
                        </th>
                    {% endif %}
                    <th>{{ __('Name') }}</th>
                    <th>{{ __('Login') }}</th>
                    <th>{{ __('Port') }}</th>
                    <th>{{ __('Socket') }}</th>
                    <th>{{ __('Type') }}</th>
                </tr>
<<<<<<< HEAD
            {% endfor %}
            {{ tableheader }}
        </table>
>>>>>>> 1766694 (update credential, databaseparam ans a part of databaseparamcredential in twig)
=======
            {% endset %}
            <table class='tab_cadre_fixehov'>
                {{ tableheader }}
                {% for credential in credentiallist %}
                    <tr>
                        {% if canedit %}
                            <td style="width: 10px;">
                                Checkbox
                            </td>
                        {% endif %}
                        <td><a href = {{credential['link']}}> {{ credential['name'] }}</a></td>
                        <td>{{ credential['login'] }}</td>
                        <td>{{ credential['port'] }}</td>
                        <td>{{ credential['socket'] }}</td>
                        <td>{{ credential['type'] }}</td>
                    </tr>
                {% endfor %}
                {{ tableheader }}
            </table>
=======
            <form name="massaction_{{ rand }}" id="massaction_{{ rand }}" method="post"
            action="{{ path('/front/massiveaction.php') }}" data-submit-once>
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="action" value="purge">
            <input type="hidden" name="action_name" value="purge">
            <input type="hidden" name="processor" value="MassiveAction">
                {% set table_id = 'package_subitem_' ~ rand %}
                <table class="search-results table table-hover table-card" id="{{ table_id }}">
                    <thead>
                        <tr>
                            {% if canedit %}
                                <th style="width: 32px;">
                                    <input class="form-check-input" type="checkbox" id="checkall_{{ rand }}"
                                        value="" title="{{ __('Check all as') }}"
                                        data-bs-toggle="tooltip"
                                        onclick="checkAsCheckboxes('checkall_{{ rand }}', '{{ table_id }}');" />
                                </th>
                            {% endif %}
                            <th>{{ __('Name') }}</th>
                            <th>{{ __('Login') }}</th>
                            <th>{{ __('Port') }}</th>
                            <th>{{ __('Socket') }}</th>
                            <th>{{ __('Type') }}</th>
                        </tr>
                    </thead>
                    {% for credential in credentiallist %}
                            {% if canedit %}
                                <td>
                                    {% set checked = session('glpimassiveactionselected')[credentialtypeclass][credential['iddbparamcredential']] ?? false %}
                                    <input type="checkbox" class="form-check-input"
                                        name="items[{{ credentialtypeclass }}][{{ credential['iddbparamcredential'] }}]"
                                        data-glpicore-ma-tags="common"
                                        value="{{ credential['iddbparamcredential'] }}"
                                        {% if checked %}checked="checked"{% endif %}>
                                 </td>
                            {% endif %}
                            <td><a href = {{credential['link']}}> {{ credential['name'] }}</a></td>
                            <td>{{ credential['login'] }}</td>
                            <td>{{ credential['port'] }}</td>
                            <td>{{ credential['socket'] }}</td>
                            <td>{{ credential['type'] }}</td>
                        </tr>
                    {% endfor %}
                    <button class="btn btn-sm btn-ghost-secondary my-1 ms-1" type="submit" value="massiveaction">
                        <i class="ti ti-corner-left-down mt-1"></i>
                        <span>{{ __("Remove") }}</span>
                    </button>
                </table>
            </form>
>>>>>>> 8b6e389 (add massive action for credential and computer group)
        {% endif %}
>>>>>>> 9d21e24 (twig for database_param_credentials)
    {% endif %}
{% endblock %}