{% import "components/form/fields_macros.html.twig" as fields %}
{% block more_fields %}
    {{ fields.dropdownArrayField(
        'type',
        item.fields['type'],
        endpoint_list,
        __('Endpoint', 'cloudinventory'),
        field_options|merge({'required': true, 'readonly': readonly})
        )
    }}
    {% if credentiallist is not empty %}
        {% set tableheader %}
            <tr>
                <th style="width: 10px;">
                    Checkbox
                </th>
                <th>{{ __('Name') }}</th>
                <th>{{ __('Login') }}</th>
                <th>{{ __('Port') }}</th>
                <th>{{ __('Socket') }}</th>
                <th>{{ __('Type') }}</th>
            </tr>
        {% endset %}
        <table class='tab_cadre_fixehov'>
            {{ tableheader }}
            {% for credential in credentiallist %}
                <tr>
                    <td>
                        Checkbox
                    </td>
                    <td><a href = {{credential['link']}}> {{ credential['name'] }}</a></td>
                    <td>{{ credential['login'] }}</td>
                    <td>{{ credential['port'] }}</td>
                    <td>{{ credential['socket'] }}</td>
                    <td>{{ credential['type'] }}</td>
                </tr>
            {% endfor %}
            {{ tableheader }}
        </table>
    {% endif %}
{% endblock %}